body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    background-color: rgba(155, 155, 155, 0.116);
}
div{
    display: flex;
    box-sizing: content-box; width: 1140px; height: auto;
    justify-content: space-between;
    margin: 0 auto; margin-top: 30px;
    padding: 20px 30px; 
    border: solid 3px rgb(165, 196, 148);
}
img{
   max-width: 20%;
   height: auto;


}
li{
    display: inline;
    justify-content: space-between;
    list-style: none;
    margin: auto;
    text-align: center;
    margin-right: 25px;

}
a{
   text-decoration: none;
   font-family: Impact; color:rgb(134, 145, 86)
   
   
}
*{
    box-sizing: border-box;
}