@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0.918);
}

.navbar {
    background: rgb(190, 156, 61);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    padding: 1%;

}

.navbar .logo {
    width: 190px;
    height: 50px;
    grid-column: 2/3;
}

.navbar .menu {
    grid-column: 4/7;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.navbar .menu li a {
    text-decoration: none;
    font-size: 1.3em;
    color: black;
    font-family: 'Noto Sans JP', sans-serif;
    text-shadow: 0 0 3px rgb(190, 156, 61);
}



.btn {
    font-size: 1em;
    background: none;
    color: white;
    padding: 10px 20px;
    border: 1px solid yellow;
    border-radius: 30px;
}

.navbar .menu li a:hover {
    color: white;
}

.btn:hover {
    cursor: pointer;
    font-size: 1em;
    background: yellow;
    color: black;
}



.MainContent {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(3, 1fr);
    height: 50vh;
    margin: 20px;
}

.card {
    background-image: url(https://wallpaperaccess.com/full/304200.jpg);
    background-color: rgba(39, 39, 39, 0.514);
    border-radius: 3%;
    word-wrap: break-word;
    position: relative;
    display: flex;
    align-items: center;
}

.card p {
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
    color:  rgb(250, 250, 65);
    font-weight: bold;
    font-size: 1.5em;
}

.avatar {
    position: absolute;
    background-size: cover;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin: auto;
    top: 25%;
    left: 65%;
}

.card .btn {
    margin-left: 20px;
    margin-top: 20px;
}

.Subtitle {
    color: white;
    font-family: 'Roboto';
    font-size: 3em;
    margin: 30px
}

.Busqueda {
    display: flex;
    grid-column: 8/9;
    font-size: 2em;
    cursor: pointer;
    justify-content: space-around;

}

.buscadorBoton {
    display: block;
    font-size: 1, 5em;
    background: none;
    color: white;
    padding: 5px 5px;
    border: 1px solid yellow;
    border-radius: 10px;
    justify-content: space-around;
    cursor: pointer;
}

.buscadorFondo {
    background: transparent;
    color: white;
    padding: 10px 10px;
    border: 1px solid yellow;
    border-radius: 10px;


}

.footer {
    display: grid;
    height: 80px;
    align-items: center;
    background-color: rgb(26, 24, 24);
    color: #fff;
    grid-template-areas: ' members socialNet'; 
    margin-top: 7vh;

}

.members ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.socialNet {
    display: flex;
    justify-content: space-around;
}

#menucono {
    display: none;
}
@media only screen and (max-width:600px){
    .Busqueda {
    display: none;
}
 
    .navbar .menu {
        display: none;        
        
    }

    .Subtitle{
        margin-top: 30px;
        margin-bottom: 30px;
    }
     .MainContent{
        grid-template-columns: repeat(1, 1fr); 
        height: 100vh;    
    }
    #menucono{
        display: block;
        grid-column: 7/8;
        cursor: pointer;
       
        
    }
   
    .avatar{ 
     
    }

    .card{
        width: 300px;
        height: 200px;
    }
    .footer{
        margin-top: 90vh;
    }


}