  
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0.918);
}

.navbar {
    background: rgb(190, 156, 61);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    padding: 1%;
    margin-bottom: 20px;

}

.navbar .logo {
    width: 190px;
    height: 50px;
    grid-column: 2/3;
}

.navbar .menu {
    grid-column: 4/7;
    display: flex;
    justify-content: space-around;
    list-style: none;
}


.navbar .menu li a {
    text-decoration: none;
    font-size: 1.3em;
    color: black;
    font-family: 'Noto Sans JP', sans-serif;
    text-shadow: 0 0 3px rgb(190, 156, 61);
}

.menubars {
    display: none;
}

.btn {
    font-size: 1em;
    background: none;
    color: white;
    padding: 10px 20px;
    border: 1px solid yellow;
    border-radius: 30px;
}

.navbar .menu li a:hover {

    color: white;
}

.btn:hover {
    cursor: pointer;
    font-size: 1em;
    background: yellow;
    color: black;
}

.footer {
    display: grid;
    height: 80px;
    align-items: center;
    background-color: rgb(26, 24, 24);
    color: #fff;
    grid-template-areas: ' members socialNet';
}
.members ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.socialNet {
    display: flex;
    justify-content: space-around;
}

.MainContent {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(4, 1fr);
    height: 50vh;
    margin: 15px;
}

.MainContentGenre{
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(3, 1fr);
    height: 50vh;
    margin: 20px;
}

.card {
    background-image: url(https://wallpaperaccess.com/full/304200.jpg);
    background-color: rgba(39, 39, 39, 0.514);
    border-radius: 3%;
    word-wrap: break-word;
    position: relative;
    display: flex;
    align-items: center;
    margin:auto;
    width: 80%;
    margin-bottom: 10px;

}

.card p, h1 {
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
    color: rgb(250, 250, 65);
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;

}
#infoalbum{ 
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
    color: rgb(235, 163, 10);
    font-size: 105%;
    text-align: left;
    word-wrap: break-word;
    text-decoration: none;
}


.avatar {
    position: absolute;
    background-size: cover;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin: auto;
    top: 25%;
    right: 5%;

}

#addplaylist{
    font-family: 'Roboto', sans-serif;
    color: rgb(161, 153, 142);
    font-size: 100%;
    text-align: left;
    word-wrap: break-word;
     margin-left: 20px;
     text-decoration: none;
}
#audios{
    height: 5vh ;
    margin: 10px;
    
}

.formap{
    font-family: 'Roboto';
    font-size: 60%;
    text-decoration: none;
    color:white;
    padding: 2px 5px;
    border: 1px solid yellow;
    border-radius: 10px;
    justify-content: space-around;
    cursor: pointer;
    margin-top: 10px;
    }



.card .btn {
margin: 20px;
}

#infosingle {
font-family: 'Roboto', sans-serif;
    margin-left: 20px;
    color: rgb(156, 112, 45);
  font-size: 100%;
  text-align: left;
    word-wrap: break-word;
  text-decoration: none;
}

.Subtitle {
    color: white;
    font-family: 'Roboto';
    font-size: 3em;
    margin: 30px;
}

.Busqueda {
    grid-column: 8/9;
    font-size: 2em;
    cursor: pointer;
    display: flex;
    justify-content: space-around;

}



.buscadorBoton {
    display: block;
    font-size: 1, 5em;
    background: none;
    color: white;
    padding: 5px 5px;
    border: 1px solid yellow;
    border-radius: 10px;
    justify-content: space-around;
    cursor: pointer;
}

.buscadorFondo {
    background: transparent;
    color: white;
    padding: 10px 10px;
    border: 1px solid yellow;
    border-radius: 10px;
}
#menucono {
    display: none;
}


@media only screen and (max-width:600px) {
   
.Busqueda {
    display: none;
}
 
    .navbar .menu {
        display: none;        
        
    }

    .Subtitle{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    #mostrarMenu{
        position: absolute;
        width: 100%;
        height: 70vh;       
        display: grid;
        text-align: center;
        align-items: center;
        background: rgb(190, 156, 61);
        margin-top: 38em;
        transform: translateX(185%);
    }

    
    
    .MainContent{
        grid-template-columns: repeat(1, 1fr); 
        height: 100vh;    
    }
    #menucono{
        display: block;
        grid-column: 7/8;
        cursor: pointer;
       
        
    }
   
    .avatar{ 
     display: none
    }
  
    .informacion{
        display: flex;
        align-items: center;
        justify-content:space-between ;
        width: 100%;
    }

    .informacion .btn{
        margin: 10px;
    }


    .container-details{
        display: flex;
        justify-content: space-around;
        align-items: center;
    
    }
    .card-Artist {
        cursor: pointer;
        transition: 0.5s;
        width: 40%;
        height: 65vh;
        border-radius: 5px;
        color:white;
        margin: 5px;
        max-width: 30%;
        background-color: rgba(255, 230, 0, 0.219);
      }
      
      .card-Artist:hover {
        -webkit-box-shadow: 10px 10px 21px -1px rgba(181,139,14,1);
        -moz-box-shadow: 10px 10px 21px -1px rgba(181,139,14,1);
        box-shadow: 10px 10px 21px -1px rgba(181,139,14,1);
      }
      
      .card-Artist img {
        display: block;
        border-radius: 5px 5px 0 0;
        height:90%;
      }
      
     .Subtitle-detail{
         text-align: center;
         font-size:2em;
         line-height:1.5;
     }
    
     .info{
         
          min-height: 30vh;
          min-width: 60vh;
         
     }
    
     .details{
         display:flex;
         width: 100%;
         padding:5px;
         height:10vh;
         align-items:center;
         justify-content: space-between;
         margin: 5px;
     }
    
     .details img{
       height:100%;
     }

    .footer{
        position: fixed;
        bottom: 0;
        width: 100%;

    }
   
}