* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{ 
    background-color: black;
    background-position: center;
    background-size: cover;
}
.navbar {
    background: rgb(190, 156, 61);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    padding: 1%;

}

.navbar .logo {
    width: 190px;
    height: 50px;
    grid-column: 2/3;
}

.navbar .menu {
    grid-column: 4/7;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.navbar .menu li a {
    text-decoration: none;
    font-size: 1.3em;
    color:black;
    font-family: 'Noto Sans JP', sans-serif;
    text-shadow: 0 0 3px rgb(190, 156, 61);
}

.menubars {
    display: none;
}
.inicio{
    text-decoration: none;
    font-size: 70px;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    padding: 30px;
    text-shadow: 0 0 3px rgb(190, 156, 61);
}
.artistas {
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    padding-bottom: 20px;
}

.nombres {
    text-decoration: none;
    font-size: 1.3em;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    text-shadow: 0 0 3px rgb(190, 156, 61);
}
.footer {
    width: 100%;
    color: white;
    text-align: right;
    font-family: 'Noto Sans JP', sans-serif;
    padding: 20px;
  }
.logo-footer{
    position: left;
    width: 50%;
    height: auto;
}